
*{
    padding: 0;
    margin: 0;
}

#game{
    width: 1000px;
    height: 900px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}


#canvas{
    display: block;
    position: relative;
}

